In [ ]:
import pandas as pd
import numpy as np
import random
from datetime import date, time, datetime
from google.colab import files
pd.options.display.float_format = '{:.2f}'.format # Formatar todos os números dos datasets para terem apenas duas casas decimais
uploaded = files.upload()

Saving MegaSenaAtualizada.xlsx to MegaSenaAtualizada (1).xlsx

In [ ]:
class Data:
  def __init__(self, file):
    self._file = file

  def TotalData(self):
  #Retorna todos os dados do arquivo excel
    dataFile = pd.read_excel(f'{self.file}')
    return dataFile

  def HandleData(self):
  # Retorna os dados que serão utilizados do arquivo excel , sem as colunas de Cidade , Estado , Observação , Local e campos NaN
    dataFrame = self.TotalData().drop(columns = ['Cidade' , 'Estado' , 'Observação' , 'Local'])
    return dataFrame.dropna()
     
  def Year2021(self):
  # Retorna todos os dados tratados que são equivalentes ao ano de 2021
    data2021 = self.HandleData().loc[(self.HandleData()['Data do Sorteio'].dt.year) == 2021]
    return data2021

  @property
  def file(self):
    return self._file
  #Retorna o arquivo(get)

  @file.setter
  def file(self):
    self.file = file
  #Permite modificar o arquivo(set)

In [ ]:
MegaSenaData = Data('MegaSenaAtualizada.xlsx')

In [ ]:
MegaSenaData.TotalData()

      Concurso               Local  ... Sorteio Especial  Observação
0         1.00        Brasília, DF  ...              SIM         NaN
1         2.00  Belo Horizonte, MG  ...              SIM         NaN
2         3.00        Brasília, DF  ...              SIM         NaN
3         4.00     Santo André, SP  ...              SIM         NaN
4         5.00        Brasília, DF  ...              SIM         NaN
...        ...                 ...  ...              ...         ...
2601   2428.00       SÃO PAULO, SP  ...              SIM         NaN
2602   2429.00       SÃO PAULO, SP  ...              SIM         NaN
2603   2430.00       SÃO PAULO, SP  ...              SIM         NaN
2604   2431.00       SÃO PAULO, SP  ...              SIM         NaN
2605   2432.00       SÃO PAULO, SP  ...              SIM         NaN

[2606 rows x 23 columns]

In [ ]:
MegaSenaData.HandleData()

      Concurso Data do Sorteio  ...  Acumulado  Sorteio Especial
0         1.00      1996-03-11  ...        SIM               SIM
1         2.00      1996-03-18  ...        NAO               SIM
2         3.00      1996-03-25  ...        NAO               SIM
3         4.00      1996-04-01  ...        SIM               SIM
4         5.00      1996-04-08  ...        SIM               SIM
...        ...             ...  ...        ...               ...
2601   2428.00      2021-11-13  ...        SIM               SIM
2602   2429.00      2021-11-17  ...        SIM               SIM
2603   2430.00      2021-11-20  ...        NAO               SIM
2604   2431.00      2021-11-24  ...        SIM               SIM
2605   2432.00      2021-11-27  ...        SIM               SIM

[2432 rows x 19 columns]

In [ ]:
MegaSenaData.Year2021()

      Concurso Data do Sorteio  ...  Acumulado  Sorteio Especial
2498   2331.00      2021-01-02  ...        SIM               SIM
2499   2332.00      2021-01-06  ...        SIM               SIM
2500   2333.00      2021-01-09  ...        SIM               SIM
2501   2334.00      2021-01-13  ...        NAO               SIM
2502   2335.00      2021-01-16  ...        SIM               SIM
...        ...             ...  ...        ...               ...
2601   2428.00      2021-11-13  ...        SIM               SIM
2602   2429.00      2021-11-17  ...        SIM               SIM
2603   2430.00      2021-11-20  ...        NAO               SIM
2604   2431.00      2021-11-24  ...        SIM               SIM
2605   2432.00      2021-11-27  ...        SIM               SIM

[102 rows x 19 columns]

In [ ]:
class Stats:
  def __init__(self , Data):
      self._dataFrame = Data.HandleData()
      
  def describe(self):
    dataDescribe = self._dataFrame.describe()
    return dataDescribe
    #Retorna todos os dados estatísticos

  def mode(self):
    dataModa = self._dataFrame.mode()
    return dataModa.dropna()
    #Retorna a moda

  def mean(self):
    dataMedia = self._dataFrame.mean()
    return dataMedia
    #Retorna a média

  def median(self):
    dataMedian = self._dataFrame.median()
    return dataMedian
    #Retorna a mediana , que é igual ao segundo quartil

  def firstQuartile(self):
    dataPQuartil = self.describe().iloc[4]
    return dataPQuartil
    #Retorna o primero quartil

  def thirdQuartile(self):
    dataTQuartil = self.describe().iloc[6]
    return dataTQuartil
    #Retorna o terceiro quartil

In [ ]:
statsMegasena = Stats(MegaSenaData)

In [ ]:
statsMegasena.describe()

       Concurso  ...  Valor Acumulado Próximo Concurso
count   2432.00  ...                           2432.00
mean    1216.50  ...                       20226576.88
std      702.20  ...                       24603578.87
min        1.00  ...                              0.00
25%      608.75  ...                              0.00
50%     1216.50  ...                        8068429.57
75%     1824.25  ...                       37694113.81
max     2432.00  ...                      139099571.93

[8 rows x 16 columns]

In [ ]:
statsMegasena.mode()

   Concurso Data do Sorteio  ...  Acumulado  Sorteio Especial
0      1.00      1996-03-11  ...        SIM               SIM

[1 rows x 19 columns]

In [ ]:
statsMegasena.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.
  app.launch_new_instance()

Concurso                                 1216.50
Coluna 1                                    8.62
Coluna 2                                   17.30
Coluna 3                                   26.29
Coluna 4                                   35.02
Coluna 5                                   43.52
Coluna 6                                   52.20
Ganhadores Faixa 1                          0.35
Ganhadores Faixa 2                        111.52
Ganhadores Faixa 3                       7142.20
Rateio Faixa 1                        4904851.81
Rateio Faixa 2                          26124.48
Rateio Faixa 3                            451.88
Valor Arrecadado                     28414695.96
Estimativa para o próximo concurso   15542927.63
Valor Acumulado Próximo Concurso     20226576.88
dtype: float64

In [ ]:
statsMegasena.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: DataFrame.mean and DataFrame.median with numeric_only=None will include datetime64 and datetime64tz columns in a future version.

Concurso                                 1216.50
Coluna 1                                    7.00
Coluna 2                                   16.00
Coluna 3                                   26.00
Coluna 4                                   35.00
Coluna 5                                   44.00
Coluna 6                                   54.00
Ganhadores Faixa 1                          0.00
Ganhadores Faixa 2                         75.00
Ganhadores Faixa 3                       5326.00
Rateio Faixa 1                              0.00
Rateio Faixa 2                          21207.47
Rateio Faixa 3                            354.70
Valor Arrecadado                     23692479.50
Estimativa para o próximo concurso    3900000.00
Valor Acumulado Próximo Concurso      8068429.57
dtype: float64

In [ ]:
statsMegasena.firstQuartile()

Concurso                               608.75
Coluna 1                                 3.00
Coluna 2                                10.00
Coluna 3                                19.00
Coluna 4                                28.00
Coluna 5                                38.00
Coluna 6                                49.00
Ganhadores Faixa 1                       0.00
Ganhadores Faixa 2                      48.00
Ganhadores Faixa 3                    3678.00
Rateio Faixa 1                           0.00
Rateio Faixa 2                       13948.81
Rateio Faixa 3                         218.50
Valor Arrecadado                         0.00
Estimativa para o próximo concurso       0.00
Valor Acumulado Próximo Concurso         0.00
Name: 25%, dtype: float64

In [ ]:
statsMegasena.thirdQuartile()

Concurso                                 1824.25
Coluna 1                                   12.00
Coluna 2                                   23.00
Coluna 3                                   33.00
Coluna 4                                   42.00
Coluna 5                                   51.00
Coluna 6                                   58.00
Ganhadores Faixa 1                          0.00
Ganhadores Faixa 2                        117.25
Ganhadores Faixa 3                       7655.75
Rateio Faixa 1                              0.00
Rateio Faixa 2                          33670.38
Rateio Faixa 3                            635.37
Valor Arrecadado                     39744757.38
Estimativa para o próximo concurso   23000000.00
Valor Acumulado Próximo Concurso     37694113.81
Name: 75%, dtype: float64

In [ ]:
class Ticket():
  def __init__(self , qntdNumbers):
      self._qntdNumbers =  self._checkQntdNumbers(qntdNumbers) # Quantidade de números que serão colocados no bilhete
      self._numbers = [] # Números do bilhete são colocados em um array
      print("Ticket successfully created")

     

  def _checkQntdNumbers(self , qntdNumbers):
      # Verifica se a quantidade de números escolhidos está dentro do permitido nas regras da loteria.
      # No caso da Mega-Sena , a quantidade de número permitida está entre 6(min) e 15(max).
      
      if(qntdNumbers >= 6 and qntdNumbers <= 15):
        return qntdNumbers
      
      # Caso a quantidade esteja fora do permitido , é exibida uma mensagem de erro e atribuido a quantidade de números o valor mínimo (6).
      print('Error')
      print('Invalid amount of numbers')
      print('Amount of numbers defined to  the minimum value(6)')
      return 6


  
  def fill(self , *numbers): 
      # Primeiramente , confere se a quantidade de números inseridos para preencher o bilhete é igual a quantidade informada previamente.
      # Caso não seja , retorna uma mensagem de erro e o bilhete continua vazio
      
      if(len(numbers) != self._qntdNumbers):
        return 'Invalid amount of numbers'

      # Checa se o bilhete já foi preenchido
      if(self._numbers):
        return 'Bilhete ja foi preenchido'
      
      
      # Gera os números do bilhete de acordo com os números passados por argumento 
      # Caso os números estejam foram do escopo permitido(01 - 60) ou aconteça uma repetição de números , gera um número aleatório.
      for i in range(0 , self._qntdNumbers):
        number = self.checkNumber(numbers[i])
        self._numbers.append(self.checkInNumbers(number))
      print("Ticket filled")


  def checkNumber(self , number):
      # Checa se o número do bilhete está dentro do permitido(01 - 60)
      # Caso não esteja gera um número aleatório     

      if(number >= 1 and number <= 60):
        return number
      return random.randint(1 , 60)

  def checkInNumbers(self ,number):
    # Checa se um número , seja ele aleatório ou passado por argumento , já está presente no array de números do bilhete
    # Caso já esteja presente no array, gera um número aleatório até que seja gerado um número que não está presente no array.

    while number in self._numbers:
      number = random.randint(1 , 60)
    return number    

    
  def price(self):
    # Tabela de preços dos bilhetes
    # A key é a quantidade de números jogados e o value é o valor do bilhete.
    pricingTable = {6 :  4.50 ,
                    7 : 31.50 ,
                    8 : 126 ,
                    9 : 378.00 , 
                    10 : 945.00 ,
                    11 : 2079 ,
                    12 : 4158 ,
                    13 : 7722 , 
                    14 : 13513.50 ,
                    15 : 22522.50}
    
    return pricingTable[self._qntdNumbers]
    #Retorna o preço do bilhete


  @property
  # Retorna todos os números do bilhete , caso não tenha nenhum número retorna 0
  def numbers(self):
    if(self._numbers):
      return(self._numbers)
    print('The ticket has no numbers or its invalid')
    return 0

In [ ]:
ordinaryTicket = Ticket(6)

Ticket successfully created

In [ ]:
ordinaryTicket.fill(3 ,	16 , 17 ,	37 ,	38 , 53)

Ticket filled

In [ ]:
ordinaryTicket.numbers

[3, 16, 17, 37, 38, 53]

In [ ]:
ordinaryTicket.price()

4.5

In [ ]:
class Lottery():
  def __init__(self , Data):
      self._dataLottery = Data.HandleData() # Dataframe com todos os dados tratados
      self._data2021 = Data.Year2021() # Dataframe com todos os dados de 2021
      self._tickets = [] # Array com todos os bilhetes jogados na loteria
      self._prizes = [] # Array com todos os prêmios ganhos

  def _draw(self , dataOfDraw, Ticket):
    # Método responsável pelo sorteio

    # Verifica se o ticket inserido está preenchido
    if not (Ticket.numbers):
      return 'Não foi possível realizar o sorteio - Ticket inválido ou vazio'

    matched = [] # Numeros que deram match com os números da Mega-Sena.
    hits = 0 # Acertos
    wins = 0 # Quantiade de bilhetes premiados
    self._tickets.append(Ticket) # Coloca o ticket no array
    
    # Compara os números do bilhete com todos os números da loteria.Caso acerte o número , soma 1 ao número de acertos
    for index , row in dataOfDraw.iterrows(): 
      for i in range(1 , 7):
        if(row[f'Coluna {i}'] in (Ticket.numbers)):
          hits+=1
          matched.append(row[f'Coluna {i}'])

      # Caso a quantidade de acertos seja maior ou igual a 4 , exibe o número do concurso , a data  , calcula o premio e exibe o lucro
      if(hits >= 4):
        wins += 1
        date = row['Data do Sorteio'].to_pydatetime().strftime("%d/%m/%Y")
        contest = row['Concurso']
        prize = float(format(self.calcPrize(contest , hits) , '.2f'))
        print(f"Você teve {hits} acertos ({matched}), no concurso nº{contest} do dia {date} e ganhou R${prize}")
        self.showProfit(prize , Ticket)      

      hits = 0
      matched.clear()

    # Caso não aconteça nenhum acerto mostra uma mensagem 
    if(wins == 0):
      self.showProfit(0 , Ticket)      
      print("Você não acertou nenhuma aposta")
    

  def generalDraw(self , Ticket):
    # Faz o sorteio com todos os concursos dos dados tratados do dataset
    self._draw(self._dataLottery , Ticket)

    
  def drawIn2021(self , Ticket):
    # Faz o sorteio apenas com os concursos de 2021 do dataset
    self._draw(self._data2021 , Ticket)

  
  def checkContest(self , contest):
    # Retorna o dataFrame , a partir do número do concurso
    dataFrame = self._dataLottery.loc[(self._dataLottery['Concurso']) == contest]
    return dataFrame
  
  def calcPrize(self ,contest , hits):
    dataPrize = self.checkContest(contest)

    #ATENÇÃO
    #Alguns concursos antigos possuem o valor arrecadado zerado e consequentemente não foi possível calcular o valor do prẽmio.

    # Apenas 43.35% do valor arrecadado é destinado ao prêmio
    value = (dataPrize.iloc[0 ,14]) * (43.35 / 100)
    		
    # Calcula o preço do prêmio da seguinte forma:
    # Calcula a porcentagem de acordo com o número de acertos e posteriormente divide esse valor pela quantidade de ganhadores + 1

    if(hits == 4): 
      prize = (value * (19 / 100)) / ((dataPrize.iloc[0 , 10]) + 1)   
    
    elif(hits== 5):
      prize = (value * (19 / 100)) / ((dataPrize.iloc[0 , 9]) + 1)
           
    elif(hits== 6):
      prize = value * (35 / 100) / ((dataPrize.iloc[0 , 8]) + 1)
     
    return prize 

 
  def showProfit( self , prize , Ticket):
    # Calcula o lucro de um único bilhete , subtraindo o valor do prêmio pelo preço do bilhete
    profit = prize - Ticket.price()
    self._prizes.append(profit)

    if(profit >= 0):
      print(f"O lucro foi de R${profit}")
    else:
      print(f"O prejuízo foi de R${profit}")


  def showTotalProfit(self):
    # Calcula o lucro de todos os bilhetes jogados
    totalProfit = sum(self._prizes)
    qntTickets = len(self._tickets)

    totalProfit = float(format((totalProfit) , '.2f'))

    if(totalProfit >= 0):
      print(f"O lucro total foi de R${totalProfit} em {qntTickets} apostas")
    else:
      print(f"O prejuízo total foi de R${totalProfit} em {qntTickets} apostas")

  def resetTickets(self):
    # Esvazia o array de tickets e o de prẽmios
    self._tickets.clear()
    self._prizes.clear()
    
  @property
  # Retorna todos os bilhetes jogados
  def tickets(self):
    if(self._tickets):
      for ticket in self._tickets:
        print(ticket.numbers)
    else:
      print("Ainda não há bilhetes")

In [ ]:
ordinaryTicket2 = Ticket(10)

Ticket successfully created

In [ ]:
ordinaryTicket2.fill(6 , 10 , 21 , 37 , 39 , 55 ,2 ,17 , 41 , 60)

Ticket filled

In [ ]:
ordinaryTicket2.numbers

[6, 10, 21, 37, 39, 55, 2, 17, 41, 60]

In [ ]:
Mega_Sena = Lottery(MegaSenaData)

In [ ]:
Mega_Sena.generalDraw(ordinaryTicket2)

Você teve 4 acertos ([2.0, 10.0, 39.0, 60.0]), no concurso nº91.0 do dia 30/11/1997 e ganhou R$0.0
O prejuízo foi de R$-945.0
Você teve 4 acertos ([6.0, 37.0, 39.0, 41.0]), no concurso nº161.0 do dia 03/04/1999 e ganhou R$0.0
O prejuízo foi de R$-945.0
Você teve 4 acertos ([2.0, 10.0, 17.0, 60.0]), no concurso nº706.0 do dia 15/10/2005 e ganhou R$0.0
O prejuízo foi de R$-945.0
Você teve 4 acertos ([6.0, 10.0, 39.0, 60.0]), no concurso nº1266.0 do dia 16/03/2011 e ganhou R$396.25
O prejuízo foi de R$-548.75
Você teve 4 acertos ([6.0, 39.0, 41.0, 55.0]), no concurso nº1764.0 do dia 25/11/2015 e ganhou R$976.98
O lucro foi de R$31.980000000000018
Você teve 4 acertos ([6.0, 10.0, 17.0, 37.0]), no concurso nº2000.0 do dia 31/12/2017 e ganhou R$423.13
O prejuízo foi de R$-521.87
Você teve 4 acertos ([10.0, 17.0, 37.0, 41.0]), no concurso nº2141.0 do dia 10/04/2019 e ganhou R$516.8
O prejuízo foi de R$-428.20000000000005
Você teve 4 acertos ([2.0, 17.0, 21.0, 60.0]), no concurso nº2188.0 do dia 14/09/2019 e ganhou R$780.15
O prejuízo foi de R$-164.85000000000002

In [ ]:
ordinaryTicket3 = Ticket(7)

Ticket successfully created

In [ ]:
ordinaryTicket3.fill(6 , 15 , 24 , 35 , 39 , 58)

'Invalid amount of numbers'

In [ ]:
Mega_Sena.generalDraw(ordinaryTicket3)

The ticket has no numbers or its invalid

In [ ]:
Mega_Sena.drawIn2021(ordinaryTicket)

Você teve 6 acertos ([3.0, 16.0, 17.0, 37.0, 38.0, 53.0]), no concurso nº2424.0 do dia 30/10/2021 e ganhou R$10916144.77
O lucro foi de R$10916140.27

In [ ]:
Mega_Sena.tickets

[6, 10, 21, 37, 39, 55, 2, 17, 41, 60]
[3, 16, 17, 37, 38, 53]

In [ ]:
Mega_Sena.showTotalProfit()

O lucro total foi de R$10911673.58 em 2 apostas

In [ ]:
class TicketByYears(Ticket):
  def __init__(self , qntdNumbers , Data ,firstYear , lastYear):
      super().__init__(qntdNumbers)
      self._firstYear = firstYear 
      self._lastYear = lastYear
      self._numbers = []
      self._dataTicket = Data.HandleData()

  def fill(self):  
    # Checa se o bilhete já foi preenchido
    if(self._numbers):
      return 'Bilhete ja foi preenchido'
  
    # Gera o bilhete com base na moda dos concursos já realizados no intervalo de anos escolhido.
    dataYear = self._dataTicket.loc[((self._dataTicket['Data do Sorteio'].dt.year) >= self._firstYear) & ((self._dataTicket['Data do Sorteio'].dt.year <= self._lastYear))]
    modeTicket = dataYear.mode().dropna()[['Coluna 1' , 'Coluna 2' , 'Coluna 3' , 'Coluna 4' , 'Coluna 5' , 'Coluna 6']]
    
    # Preenche os números do bilhete com as modas
    for i in range(0 , 6): 
      self._numbers.append(modeTicket.iloc[0 , i])
    
    
    # Caso a quantidade de números informada previamente seja maior que 6(aposta mínima) , o algoritmo completa a parte faltante com números aleatórios e não repetidos.
    if(self._qntdNumbers > 6):
      excess = self._qntdNumbers - 6
      for i in range(0 , excess):
        number = random.randint(1 , 60)
        self._numbers.append(self.checkInNumbers(number))   
    print("Ticket filled")

  @property
  def firstYear(self):
    return self._firstYear

  @property
  def lastYear(self):
    return self._lastYear

In [ ]:
ticket1 = TicketByYears(10 , MegaSenaData ,1996 , 2020)
ticket2 = TicketByYears(6 , MegaSenaData , 2010 , 2020)
ticket3 = TicketByYears(15 , MegaSenaData , 2015 , 2020)

Ticket successfully created
Ticket successfully created
Ticket successfully created

In [ ]:
ticket1.fill()
ticket2.fill()
ticket3.fill()

Ticket filled
Ticket filled
Ticket filled

In [ ]:
ticket1.numbers

[1.0, 16.0, 28.0, 33.0, 42.0, 60.0, 22, 32, 8, 30]

In [ ]:
ticket2.numbers

[2.0, 10.0, 24.0, 35.0, 46.0, 60.0]

In [ ]:
ticket3.numbers

[1.0, 10.0, 28.0, 35.0, 45.0, 59.0, 16, 37, 27, 18, 49, 11, 36, 25, 38]

In [ ]:
Mega_Sena.resetTickets()

In [ ]:
Mega_Sena.drawIn2021(ticket1)

O prejuízo foi de R$-945.0
Você não acertou nenhuma aposta

In [ ]:
Mega_Sena.drawIn2021(ticket2)

O prejuízo foi de R$-4.5
Você não acertou nenhuma aposta

In [ ]:
Mega_Sena.drawIn2021(ticket3)

Você teve 4 acertos ([11.0, 37.0, 38.0, 49.0]), no concurso nº2378.0 do dia 05/06/2021 e ganhou R$1255.39
O prejuízo foi de R$-21267.11
Você teve 4 acertos ([11.0, 16.0, 35.0, 49.0]), no concurso nº2386.0 do dia 01/07/2021 e ganhou R$923.94
O prejuízo foi de R$-21598.56
Você teve 4 acertos ([10.0, 27.0, 35.0, 59.0]), no concurso nº2410.0 do dia 18/09/2021 e ganhou R$695.65
O prejuízo foi de R$-21826.85

In [ ]:
Mega_Sena.tickets

[1.0, 16.0, 28.0, 33.0, 42.0, 60.0, 22, 32, 8, 30]
[2.0, 10.0, 24.0, 35.0, 46.0, 60.0]
[1.0, 10.0, 28.0, 35.0, 45.0, 59.0, 16, 37, 27, 18, 49, 11, 36, 25, 38]

In [ ]:
Mega_Sena.showTotalProfit()

O prejuízo total foi de R$-65642.02 em 3 apostas

In [ ]:
class SpecialTicket(Ticket):
  def __init__(self, qntdNumbers , Data):
    super().__init__(qntdNumbers)
    self._dataTicket = Data.HandleData()
    self._numbers = []

  def fill(self):
    # Checa se o bilhete já foi preenchido
    if(self._numbers):
      return 'Bilhete ja foi preenchido'
    
    # Pega a moda de todos os concursos já feitos até os dias atuais e preenche o bilhete 
    specialData = self._dataTicket.mode().dropna()[['Coluna 1' , 'Coluna 2' , 'Coluna 3' , 'Coluna 4' , 'Coluna 5' , 'Coluna 6']]
    for i in range(0 , 6): 
      self._numbers.append(specialData.iloc[0 , i])

    # Caso a quantidade de números escolhida seja maior que 6 , o bilhete será preenchido com números aleatórios entre 1 e 6 somados com o valor de suas respectivas colunas.
    if(self._qntdNumbers > 6):
      excess = self._qntdNumbers - 6
      for i in range(0 , excess):
        randomNumber = random.randint(1 , 6) # Gera um aleatório entre 1 e 6
        number = specialData[f'Coluna {randomNumber}'].iloc[0] + randomNumber # Soma o número aleatório ao valor de sua respectiva coluna
        number = self.checkInNumbers(self.checkNumber(number)) # Checa se o valor já se encontra no bilhete e está no intervalo permitido,caso já esteja retorna um valor aleatório entre 1 e 60
        self._numbers.append(number)
    
    print("Ticket filled")

In [ ]:
specialTicket = SpecialTicket(15 , MegaSenaData)

Ticket successfully created

In [ ]:
specialTicket.fill()

Ticket filled

In [ ]:
specialTicket.numbers

[1.0, 16.0, 28.0, 37.0, 42.0, 60.0, 47.0, 41.0, 2.0, 31.0, 58, 18, 46, 45, 25]

In [ ]:
specialTicket.price()

22522.5

In [ ]:
Mega_Sena.resetTickets()

In [ ]:
Mega_Sena.drawIn2021(specialTicket)

Você teve 4 acertos ([25.0, 28.0, 41.0, 45.0]), no concurso nº2350.0 do dia 06/03/2021 e ganhou R$1293.76
O prejuízo foi de R$-21228.74

In [ ]:
Mega_Sena.showTotalProfit()

O prejuízo total foi de R$-21228.74 em 1 apostas

In [ ]:
class SuperTicket(Ticket):
  def __init__(self, qntdNumbers):
    super().__init__(qntdNumbers)
    self._numbers = []


  def fill(self):
    # Checa se o bilhete já foi preenchido
    if(self._numbers):
      return 'Bilhete já foi preenchido'


    # Preenche o bilhete com números aleatórios gerados entre cada número e seu próximo número no array abaixo.
    array = [1 , 10 , 20 , 30 , 40 , 50 , 60]
    i = 0
    j = 0

    while(i < self._qntdNumbers):
      if(i == 6 or i == 12):
        j = 0
      ramdomNumber = random.randint(array[j] , array[j + 1])
      number = self.checkInNumbers(self.checkNumber(ramdomNumber))
      self._numbers.append(number)
      i+=1
      j+=1
    print("Ticket filled")

In [ ]:
superTicket1 = SuperTicket(15)

Ticket successfully created

In [ ]:
superTicket1.price()

22522.5

In [ ]:
superTicket1.fill()

Ticket filled

In [ ]:
superTicket1.numbers

[6, 17, 25, 35, 42, 50, 10, 14, 28, 32, 44, 53, 5, 20, 23]

In [ ]:
superTicket1.price()

22522.5

In [ ]:
Mega_Sena.resetTickets()

In [ ]:
Mega_Sena.drawIn2021(superTicket1)

Você teve 4 acertos ([10.0, 20.0, 28.0, 50.0]), no concurso nº2336.0 do dia 20/01/2021 e ganhou R$744.87
O prejuízo foi de R$-21777.63
Você teve 4 acertos ([5.0, 10.0, 25.0, 32.0]), no concurso nº2349.0 do dia 03/03/2021 e ganhou R$684.44
O prejuízo foi de R$-21838.06
Você teve 4 acertos ([20.0, 32.0, 35.0, 50.0]), no concurso nº2362.0 do dia 14/04/2021 e ganhou R$1143.81
O prejuízo foi de R$-21378.69
Você teve 4 acertos ([17.0, 28.0, 44.0, 50.0]), no concurso nº2365.0 do dia 24/04/2021 e ganhou R$1166.08
O prejuízo foi de R$-21356.42
Você teve 4 acertos ([5.0, 25.0, 42.0, 44.0]), no concurso nº2394.0 do dia 28/07/2021 e ganhou R$802.73
O prejuízo foi de R$-21719.77
Você teve 4 acertos ([10.0, 35.0, 50.0, 53.0]), no concurso nº2419.0 do dia 16/10/2021 e ganhou R$1199.04
O prejuízo foi de R$-21323.46

In [ ]:
Mega_Sena.showTotalProfit()

O prejuízo total foi de R$-129394.03 em 1 apostas